In [6]:
import pandas as pd
import nepali_datetime
import datetime

### Convert AD to BS

In [1]:
def ad_to_bs(date_string):
    # Parse the date string into a datetime object
    ad_date = datetime.datetime.strptime(date_string, '%m/%d/%Y')

    # Convert to BS date
    bs_date = nepali_datetime.date.from_datetime_date(ad_date.date())

    # Format the date in a readable string format
    return bs_date.strftime('%Y-%m-%d')

# Load the CSV file
file_path = 'NEPSEindex.csv'  # Replace with your file path
nepse_data = pd.read_csv(file_path)

# Convert all AD dates to BS and store in a new column
nepse_data['Date (BS)'] = nepse_data['Date'].apply(ad_to_bs)

nepse_data

NameError: name 'pd' is not defined

In [10]:
# Load the CSV file
file_path = 'NEPSEindex.csv'  # Replace with your file path
nepse_data = pd.read_csv(file_path)

In [11]:
# Convert all AD dates to BS and store in a new column
nepse_data['Date (BS)'] = nepse_data['Date'].apply(ad_to_bs)

nepse_data

,Unnamed: 0,Open,High,Low,Close,Change,Per Change (%),Turnover,Date,Date (BS)
0,0,1965.44,1974.60,1953.15,1969.18,4.26,0.21,8.704442e+08,9/18/2023,2080-06-01
1,1,2009.98,2010.02,1961.67,1964.91,-42.14,-2.09,2.028466e+09,9/17/2023,2080-05-31
2,2,1967.26,2007.06,1967.26,2007.06,39.48,2.00,1.495522e+09,9/13/2023,2080-05-27
3,3,1987.16,1998.17,1962.97,1967.57,-19.42,-0.97,1.135058e+09,9/12/2023,2080-05-26
4,4,1942.98,1986.99,1942.25,1986.99,44.30,2.28,1.518343e+09,9/11/2023,2080-05-25
...,...,...,...,...,...,...,...,...,...,...
1839,1839,1160.09,1160.09,1160.09,1160.09,-16.77,-1.42,0.000000e+00,9/28/2015,2072-06-11
1840,1840,1176.86,1176.86,1176.86,1176.86,-6.50,-0.55,0.000000e+00,9/24/2015,2072-06-07
1841,1841,1183.36,1183.36,1183.36,1183.36,27.28,2.35,0.000000e+00,9/23/2015,2072-06-06
1842,1842,1156.08,1156.08,1156.08,1156.08,-39.94,-3.34,0.000000e+00,9/22/2015,2072-06-05
1843,1843,1196.02,1196.02,1196.02,1196.02,-6.79,-0.56,0.000000e+00,9/17/2015,2072-05-31

In [13]:
# Save the updated dataframe to a new CSV file
nepse_data.to_csv('NEPSEindex.csv', index=False)

### Convert BS month to AD range

In [25]:
import pandas as pd
import nepali_datetime

# Load the datasets
calendar_bs_path = 'calendar_bs.csv'  
monthly_data_path = 'monthly data.xlsx'  

# Read the datasets
calendar_bs = pd.read_csv(calendar_bs_path)
monthly_data_bs = pd.read_excel(monthly_data_path)

# Split the 'Date' column into 'Year' and 'Month' in the monthly data
monthly_data_bs[['Year', 'Month']] = monthly_data_bs['Date'].str.split('/', expand=True).astype(int)

# Define a function to get the Gregorian start and end dates for a BS month
def get_ad_dates(year, month, calendar):
    # Mapping BS month number to calendar_bs column names
    month_names = {
        1: "Baisakh", 2: "Jestha", 3: "Ashar", 4: "Shrawan", 5: "Bhadra",
        6: "Asoj", 7: "Kartik", 8: "Mangsir", 9: "Poush", 10: "Magh",
        11: "Falgun", 12: "Chait"
    }

    # Get the number of days in the BS month from the calendar
    days_in_month = calendar[calendar['Year'] == year][month_names[month]].iloc[0]

    # Convert the start and end of the BS month to Gregorian dates
    start_bs = nepali_datetime.date(year, month, 1)
    start_ad = start_bs.to_datetime_date()
    end_bs = nepali_datetime.date(year, month, days_in_month)
    end_ad = end_bs.to_datetime_date()

    return start_ad, end_ad

# Apply the function to each row in the monthly data
monthly_data_bs['Start_Date_AD'], monthly_data_bs['End_Date_AD'] = zip(*monthly_data_bs.apply(lambda row: get_ad_dates(row['Year'], row['Month'], calendar_bs), axis=1))

      Date  Total deposit/GDP  Total credit/GDP  Total credit/Total deposit  \
0  2072/05                NaN               NaN                         NaN
1  2072/06              85.43             65.66                       76.87
2  2072/07              85.75             65.65                       76.56
3  2072/08              86.81             66.00                       76.03
4  2072/09              88.13             67.79                       76.93

   Total liquid asset/total deposit  Interest on Savings  \
0                               NaN                  NaN
1                             30.37                 2.61
2                             29.94                 2.52
3                             29.95                 2.52
4                             30.38                 2.37

   Interest on fixed deposit  Interest on credit Remmittance  Year  Month  \
0                        NaN                 NaN         NaN  2072      5
1                       6.36                9.50         Nan  2072      6
2                       6.31                9.31         Nan  2072      7
3                       6.31                9.31         Nan  2072      8
4                       6.05                9.28         Nan  2072      9

  Start_Date_AD End_Date_AD
0    2015-08-18  2015-09-17
1    2015-09-18  2015-10-17
2    2015-10-18  2015-11-16
3    2015-11-17  2015-12-15
4    2015-12-16  2016-01-14

In [26]:
# Save the updated dataframe to a new CSV file
monthly_data_bs.to_csv('monthly data.csv', index=False)